.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  gap: 3rem; /* space between two divs */
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Logo styles */
.left-side .logo {
  max-width: 500px;
  width: 300%;
  height: auto;
}

.right-side {
  max-width: 500px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%; /* full width inside right-side */
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: grey;
  font-size: 1.2rem;
  text-align: center;
}

input,
button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 70%;
  border: 1px solid #aaa;
  display: block;
  color: rebeccapurple;
  margin: 0 auto;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  border: none;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1.9rem;
}

button:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
